# ~/.config/systemd/user/switcharoo_flair.service
[Unit]
Description=Switcharoohelper Flair service

[Service]
WorkingDirectory=%h/switcharoo
ExecStart=python3 -m poetry run switcharoohelper-flairs
StandardOutput=file:/var/log/switcharoo/flair.log
StandardError=file:/var/log/switcharoo/flair.log

[Install]
WantedBy=default.target