# ~/.config/systemd/user/switcharoo_main.service
[Unit]
Description=Main Switcharoohelper service

[Service]
WorkingDirectory=%h/switcharoo
ExecStart=python3 -m poetry run switcharoohelper
StandardOutput=file:/var/log/switcharoo/main.log
StandardError=file:/var/log/switcharoo/main.log

[Install]
WantedBy=default.target