# ~/.config/systemd/user/switcharoo_main.service
[Unit]
Description=Main Switcharoohelper service

[Service]
WorkingDirectory=%h/switcharoo
ExecStart=%h/venv/bin/python %h/switcharoo/main.py
StandardOutput=file:/var/log/switcharoo/main.log
StandardError=file:/var/log/switcharoo/main.log

[Install]
WantedBy=default.target