# ~/.config/systemd/user/switcharoo_main.service
[Unit]
Description=Main Switcharoohelper service

[Service]
WorkingDirectory=%h/switcharoo
ExecStart=%h/venv/bin/python %h/switcharoo/main.py

[Install]
WantedBy=default.target